/*Seletores

-type element tag: nome (por exemplo p /p) e o elemento que eu quero
-id
-class
-atributo
-universal
*/

.pink {
    color: pink /* seletor por classe: significa que somente o parágrafo que tiver a classe pink vai ter a cor pink*/
}

#letter {
    color: violet /*seletor por ID*/
}

[tittle="m"] {
    color: green
}

/* Combinator

-Descendent
  article p : aplica cor em todos os paragrafos

  -List
  span, mark : aplica cor separados por virgulas na frase

  -Next sibiling
  h2 + p : semelhante que vem antes, ou seja, muda  o paragrafo e o irmão anterior dele 

  -Child
 aside > ul 
 */

 
 span{
    border: solid;

    width:200px;
    height:200px;
    margin: 40px;
 }

 /* width, height */

div, span {
    width: 100px;
    /*min-width: 200px;
    max-width: 300px;*/
    border: solid;
}

/* color
text-transform,
text-decoration,
*/
p {
    /* text-transform: uppercase; */
    /*text-transform: lowercase; */
    text-transform: capitalize;
    /*text-align: center*/;
    font-size: 24px;
    text-align: justify;
    line-height: 1.5;
}
mark {
    color: red;
    text-transform: uppercase;
}
a {
    /*text-decoration: line-through*/
    text-decoration: none;

}
/* background-color
background-image
background-repeat*/
body {
    background-color: aquamarine;
    /*background-image: url ("url");*/
}
div {
    width: 200px;
    height:200px;
    background-color: brown;
    background-repeat: no-repeat;
}