body {
    margin: 0;
}


#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*ou 200px 50% 30vw; ou somente 100px 200px 300px 400px*/
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;

    border: 2px solid green;
}

#app > * {
    border: 1px solid red;
}

#app header {
    grid-row-start: 1;
    grid-row-end: 4;
}

#app main {
    grid-column: 2/4;
    grid-row: 1/3;
}

#app footer {
    grid-column: 1/4;
}